html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: white;
  margin: 0;
  
  /* max-width: auto; */
}

h1 {
  font-size: 60px;
  text-align: center;
}

/* h3 {
  text-transform: uppercase;
} */


header {
  background-image: url(img/bg.img.jpg);
  display: flex;
  color: white;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo {
  font-size: 1.5em;
  text-transform: uppercase;
}

.logo a {
  color: white;
  text-decoration: none;
}

.main-nav ul {
  display: flex;
  margin: 0;
  padding: 10px;
  list-style-type: none;
}

.main-nav li {
  margin-right: 15px;
  font-size: 1.5em;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  color: orange;
  text-shadow: 2px 2px 5px white;
  transition: text-shadow 0.5s ease-out;
}


/* Home Section */
.home {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los elementos horizontalmente */
  text-align: center;
}
.home h1 {
  margin-top: 100px;
}



.content-profile {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  width: 80%;
  /* max-width: 1500px; */
}

.profile-pic {
  width: 70%;
  height: auto;
  border-radius: 50%;
  margin: 0 auto;
}

.introduction {
  display: block;
  text-align: center;
  width: 100%;
  padding: 20px;
  font-size: 30px;
  
}
.introduction span {
  font-weight: bold;
  
}

.cv_button {
    background-color: orange;
    color: #003366;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;

    border-bottom: 2px solid #003366;
    transition: opacity 0.9s, 0.6s font-size;
    text-align: center;
}
.cv_button:hover,
.cv_button:focus {
    background-color: #003366;
    cursor: pointer;
    font-size: 18px;
    color: white;
    border-bottom: 2px solid orange;
    
}


/* ----ABOUT ME---- */
.about {
  text-align: center;
  font-size: 25px;
  width: 90%;
  margin: 0 auto;
}

.about span {
  font-weight: bold;
}

/* ----HOBBIES---- */
.container-hobbies {
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}
.article {
  width: 90%;
  margin: 0 auto;
}

.hobbies {
  display: flex;
  width: 90%;
  margin: 0 auto;
  
}

.hobbie_content {
  display: flex;
}

img {
  max-width: 70%;
  height: auto;
}




/* ---GRID JOBS--- */
.container-careers {
  display: grid;
  grid-template-columns:  1fr 1fr 1fr;
  gap: 10px;
}

.container-careers .content {
  display: grid;
  width: 80%;
  align-items: center;
  margin: 0 auto;
  gap: 30px;
}

.container-careers img {
  /* height: auto; */
  margin: 0 auto;
}

.container-careers p {
  width: 100%;
}


/*----BORDER BOX----*/
.border {
background-color: white;
-webkit-box-shadow: 2px -1px 67px 14px rgba(142,140,145,1);
-moz-box-shadow: 2px -1px 67px 14px rgba(142,140,145,1);
box-shadow: 2px -1px 20px 5px rgba(142,140,145,1);
border-radius: 10px;
padding: 20px;
margin-bottom: 50px;
}


/* ---------- SKILLS ---------- */

/* ---- SKILLS GRID ---- */
.skills {
  text-align: center;
  width: 90%;
  margin: 0 auto;

}

.container-skills {
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.content-skills {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  text-align: center;
  align-items: stretch;
  width: 100%;
  margin: 0 auto;
  font-size: 25px;
  
}

.content-skills p {
  text-align: center;
  
}


/* ----TOOL BELT----*/
@-webkit-keyframes tools-scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    /* the logo sequence is doubled, once the end of the first half has reached the end (which looks exactly like the starting point), the animation restarts */
  }
}

@keyframes tools-scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    /* the logo sequence is doubled, once the end of the first half has reached the end (which looks exactly like the starting point), the animation restarts */
  }
}

.tools-slider {
  background-color: white;
  margin: 70px auto;
  overflow: hidden;
  position: relative;
  width: 70%;
}

.tools-slider::before,
.tools-slider::after {
   background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(white),
    to(rgba(255, 255, 255, 0))
  );
  background: -o-linear-gradient(left, white 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 150px;
  z-index: 2;
}

.tools-slider::after {
  right: 0;
  top: 0.01px;
  -webkit-transform: rotateZ(180deg);
  -ms-transform: rotate(180deg);
  transform: rotateZ(180deg);
}

.tools-slider::before {
  left: 0;
  top: 0.01px;
}

.tools-slide-track {
  -webkit-animation: tools-scroll 25s linear infinite;
  animation: tools-scroll 25s linear infinite;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

.tool {
  height: 100%;
  max-width: 250px;
  padding: 0 15px;
}

.tool.aws {
  max-width: 90px;
  margin-top: 10px;
}

.tool.angular {
  max-height: 115px;
  margin: 0 -30px -30px -30px;
}


/*---- GRID TECHNOLOGIES ----*/
.technologies {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.technologies h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #003366;
  padding-bottom: 5px;
}

.list-content {
  list-style: none;
  padding: 0;
}

.list-content li {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
  background-color: orange;
  border: solid 1px #003366;
  width: 70%;
  margin: 5px auto;
  border-radius: 5px;
  

}





/*---- PROJECTS ----*/


.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  text-align: center;
  width: 70%;
  margin: 30px auto;
}

.content-project {
  border: 1px solid #003366;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.content-project p {
  font-size: 20px;
}

.content-project span {
  font-weight: bold;
}

.content-project img {
  max-width: 50%;
  margin-bottom: 10px; /* Añadido espacio entre la imagen y el párrafo */
}

.project-details {
  text-align: center;
}

.project-links a {
  margin: 5px;
  padding: 8px 15px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  font-weight: bold;
}


.project-links .github_link {
  background-color: white;
  color: black;
  border: 2px solid #003366;
}
.project-links .github_link:hover {
  background-color: #003366;
  color: white;
  border: 2px solid orange;
}

.project-links .project_link {
  background-color: white;
  color: black;
  border: 2px solid orange;
}
.project-links .project_link:hover {
  background-color: orange;
  color: black;
  border: 2px solid #003366;
}

.project-links .studycase_link {
  background-color: white;
  color: black;
  border: 2px solid #2ecc71;
}
.project-links .studycase_link:hover {
  background-color: #34495e;
  color: #2ecc71;
  border: 2px solid #2ecc71;
}



/* ---------- FOOTER STYLING ---------- */
footer {
  width: 100%;
  height: 100%;
  bottom: 0;
}
.page-footer {
  background-image: url(img/bg.img.jpg);
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  
}

.page-footer h2 {
  color: white;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.circle-link {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  margin: 8px;
  background-color: white;
  border: 1px solid #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.circle-link:hover {
  -webkit-transform: translateY(-0.25rem);
  -ms-transform: translateY(-0.25rem);
  transform: translateY(-0.25rem);
  -webkit-box-shadow: 10px 3px 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px white;
}

.icon {
  max-width: 30px;
}

.back {
  color: orange;
  text-decoration: none;
}

/* ----RESPONSIVE---- */


@media only screen and (max-width: 767px) {
  /*Moviles: Estilos para pantallas de hasta 767px de ancho */
  .projects {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    text-align: center;
    width: 70%;
    margin: 30px auto;
  }
}
/* Media query para pantallas más pequeñas */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* Tablets-Vertical: Estilos para pantallas de 768px a 1023px de ancho */
  .projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    text-align: center;
    width: 70%;
    margin: 30px auto;
    
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  /* Tablets-horizontal/Protatiles: Estilos para pantallas de 1024px a 1279px de ancho */
}

@media only screen and (min-width: 1280px) {
  /* Pantallas mas grandes: Estilos para pantallas de 1280px o más de ancho */
}

  /* Otros estilos específicos para pantallas más pequeñas */


/* Otra media query para pantallas aún más pequeñas */


